{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block site-title %}
<a href="/"><span id="site-title-text">{{ config.app.title }}</span><img id="site-logo" src="{{ config.static_url }}css/images/{% if LANGUAGE_CODE == 'es' %}BSH-Logo-Color.jpeg{% else %}BSH-Logo-Color.jpeg{% endif %}" title="{{ config.app.name }}"></a>
<strong id="site-deadline"><em>{% blocktrans %}Submit comments by June 30, 2015!{% endblocktrans %}</em></strong>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}

  <link href='http://fonts.googleapis.com/css?family=Quicksand:400|Merriweather:300|Open+Sans:300' rel='stylesheet' type='text/css'>
{% endblock %}

<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p class="total-response-indicator hidden">{% blocktrans %}<span class="total-response-count">0</span> Total Responses{% endblocktrans %}</p>

<p id="powered-by">{% blocktrans %}Powered by <a href="https://github.com/openplans/shareabouts/" class="shareabouts-logo" target="_blank">Shareabouts</a><!--, <span class="nobreak">hosted by <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span-->{% endblocktrans %}</p>
{% endblock %}

<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
  (function(NS, $) {
    NS.bootstrapped.mapHost = '{{ request.get_host }}';

    Handlebars.registerHelper('host', function() {
      return NS.bootstrapped.mapHost;
    });

    function commaSeparateNumber(val){
      while (/(\d+)(\d{3})/.test(val.toString())){
        val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
      }
      return val;
    };

    function showTotalResponseCount() {
      $.ajax({
        url: '/api/surveys?page_size=1',
        success: function(data) {
          var responseCount = data.metadata.length;
          $('.total-response-count').html(commaSeparateNumber(responseCount));
          $('.total-response-indicator').removeClass('hidden');
        }
      });
    };

    function incrementTotalResponseCount() {
      try {
        var responseCountString = $('.total-response-count').html(), responseCount;

        // Remove all the commas and parse as a number...
        responseCount = parseInt(responseCountString.replace(/,/g, ''));

        // Increment and add commas back in.
        responseCount += 1;
        $('.total-response-count').html(commaSeparateNumber(responseCount));
      } catch(err) {
        // Fail silently here; it's no big deal.
      }
    };

    var originalSubmissionCreate = Shareabouts.SubmissionCollection.prototype.create;
    Shareabouts.SubmissionCollection.prototype.create = function(model, options) {
      var originalSuccess = options.success;
      options.success = function(model, resp, options) {
        incrementTotalResponseCount();
        if (originalSuccess) {
          originalSuccess.call(this, model, resp, options);
        }
      }
      return originalSubmissionCreate.call(this, model, options);
    }

    $(function() {
      showTotalResponseCount();
    });

    function updateOtherQuestionVisibility(val, $otherField, $otherInput) {
      if (val === 'other') {
        $otherField.show();
        $otherInput.attr('required', true);
      } else if (val) {
        $otherField.hide();
        $otherInput.removeAttr('required').val('');
      }
    }

    function updateConditionQuestionVisibility(val, $yesField, $yesInput, $noField, $noInput) {
      if (val === 'yes') {
        $yesField.show();
        $yesInput.attr('required', true);

        if ($noField) {
          $noField.hide()
          $noInput.removeAttr('required').prop('checked', false);
        }
      } else if (val === 'no') {
        $yesField.hide();
        $yesInput.removeAttr('required').prop('checked', false);

        if ($noField) {
          $noField.show();
          $noInput.attr('required', true);
        }
      } else {
        $yesField.hide();
        $yesInput.removeAttr('required').prop('checked', false);

        if ($noField) {
          $noField.hide();
          $noInput.removeAttr('required').prop('checked', false);
        }
      }
    }

    $(document).on('change', 'input[name="private-good_spot"]', function(evt) {
      var val = $(this).val(),
          $yesField = $('.survey-field-why_good'),
          $yesInput = $('input[name="private-why_good"]'),
          $noField = $('.survey-field-why_bad'),
          $noInput = $('input[name="private-why_bad"]'),
          $otherYesField = $('.survey-field-why_good_other_reason'),
          $otherYesInput = $('input[name="private-why_good_other_reason"]'),
          $otherNoField = $('.survey-field-why_bad_other_reason'),
          $otherNoInput = $('input[name="private-why_bad_other_reason"]');

      updateConditionQuestionVisibility(val, $yesField, $yesInput, $noField, $noInput);
      updateOtherQuestionVisibility($yesInput.val(), $otherYesField, $otherYesInput);
      updateOtherQuestionVisibility($noInput.val(), $otherNoField, $otherNoInput);
    });

    $(document).on('change', 'input[name="private-why_good"]', function(evt) {
      var val = $(this).val(),
          $otherField = $('.survey-field-why_good_other_reason'),
          $otherInput = $('input[name="private-why_good_other_reason"]');

      updateOtherQuestionVisibility(val, $otherField, $otherInput);
    });

    $(document).on('change', 'input[name="private-why_bad"]', function(evt) {
      var val = $(this).val(),
          $otherField = $('.survey-field-why_bad_other_reason'),
          $otherInput = $('input[name="private-why_bad_other_reason"]');

      updateOtherQuestionVisibility(val, $otherField, $otherInput);
    });

    $(document).on('change', 'input[name="private-alt_spot"]', function(evt) {
      var val = $(this).val(),
          $yesField = $('.survey-field-alt_suggestion'),
          $yesInput = $('textarea[name="private-alt_suggestion"]');

      updateConditionQuestionVisibility(val, $yesField, $yesInput);
    });

    // Fix the reply button action
    $(NS).on('panelshow', function(evt, router) {
      $('.reply-link').on('click', function(evt) {
        evt.preventDefault();
        var $panelScrollable = $('#content article').first(),
            $firstLabel = $('.survey').find('label').first();
        $panelScrollable.scrollTo($firstLabel);
      });
    });

    // Smarter geocoding
    var util_geocode = Shareabouts.Util.MapQuest.geocode;
    Shareabouts.Util.MapQuest.geocode = function(location, bounds, options) {
      // If the address/location given is complete in that it already specifies
      // a city in some format that we recognize (see endStrings), pass it on
      // through. Otherwise, tack on "Hawaii".
      var endStrings = [' hawaii', ' hi'],
          isComplete = false,
          end, i, locationEndsWith;

      locationEndsWith = function(str) {
        var endpos = location.length - str.length;
        return (location.toLowerCase().trim().slice(endpos) === str)
      }

      // Loop through each recognized end and change the isComplete flag if one
      // matches.
      for (i = 0; i < endStrings.length; ++i) {
        end = endStrings[i];
        if (locationEndsWith(end)) {
          isComplete = true;
          break;
        }
      }

      // If no ends matched, specify the city.
      if (!isComplete) {
        location = location + ', Hawaii';
      }

      return util_geocode.call(this, location, bounds, options);
    };

    Gatekeeper.validate = function(form) {
      // Get invalid elements from the form
      var invalidEls = Gatekeeper.getInvalidFormEls(form),
          layout = NS.Util.getPageLayout();

      // Indicate that this form has been submitted
      $(form).addClass('form-submitted');

      if (invalidEls && invalidEls.length > 0) {
        // Focus on the first invalid element
        invalidEls[0].focus();
        if (invalidEls[0].select) { invalidEls[0].select(); }

        if (layout === 'mobile') {
          invalidEls[0].scrollIntoView();
        }

        return false;
      }
      return true;
    };


    var originalOnMarkerClick = Shareabouts.LayerView.prototype.onMarkerClick;
    NS.LayerView.prototype.onMarkerClick = function(evt) {
      var self = this;
      originalOnMarkerClick.apply(this, arguments);
      if (this.map.getZoom() < this.map.getMaxZoom()-1) {
        _.delay(function() {
          self.map.setView(evt.latlng, self.map.getMaxZoom()-1, {
            animate: true
          });

          self.map.invalidateSize({ animate:false, pan:false });
        }, 200);
      }
    }

  }(Shareabouts, jQuery));
</script>
{% endblock %}
