{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block site-title %}
<a href="http://www.bikesharehawaii.org/"><span id="site-title-text">{{ config.app.title }}</span><img id="site-logo" src="{{ config.static_url }}css/images/Metro_Bike_Share_Logo-04.png" title="{{ config.app.name }}"></a>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
  {% endif%}
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:400|Merriweather:300|Open+Sans:300' rel='stylesheet' type='text/css'>
{% endblock %}
<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p class="total-response-indicator hidden">{% blocktrans %}<span class="total-response-count">0</span> Total Responses{% endblocktrans %}</p>

<p id="powered-by">{% blocktrans %}Powered by <a href="https://github.com/openplans/shareabouts/" class="shareabouts-logo" target="_blank">Shareabouts</a><!--, <span class="nobreak">hosted by <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span-->{% endblocktrans %}</p>

{% endblock %}
<div>
  <img src="../static/images/Metro_Bike_Share_Partner_Logos_Lockup-10.svg" class="footer-logo">
</div>
<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}
<script>
  (function(NS, $) {
    NS.bootstrapped.mapHost = '{{ request.get_host }}';

    Handlebars.registerHelper('host', function() {
      return NS.bootstrapped.mapHost;
    });

    Handlebars.registerHelper('original_path', function() {
      return '/' + NS.Config.map.options.zoom + '/' + NS.Config.map.options.center.lat + '/' + NS.Config.map.options.center.lng;
    });


    function commaSeparateNumber(val){
      while (/(\d+)(\d{3})/.test(val.toString())){
        val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
      }
      return val;
    };

    function showTotalResponseCount() {
      $.ajax({
        url: '/api/surveys?page_size=1',
        success: function(data) {
          var responseCount = data.metadata.length;
          $('.total-response-count').html(commaSeparateNumber(responseCount));
          $('.total-response-indicator').removeClass('hidden');
        }
      });
    };

    function incrementTotalResponseCount() {
      try {
        var responseCountString = $('.total-response-count').html(), responseCount;

        // Remove all the commas and parse as a number...
        responseCount = parseInt(responseCountString.replace(/,/g, ''));

        // Increment and add commas back in.
        responseCount += 1;
        $('.total-response-count').html(commaSeparateNumber(responseCount));
      } catch(err) {
        // Fail silently here; it's no big deal.
      }
    };

    var originalSubmissionCreate = Shareabouts.SubmissionCollection.prototype.create;
    Shareabouts.SubmissionCollection.prototype.create = function(model, options) {
      var originalSuccess = options.success;
      options.success = function(model, resp, options) {
        incrementTotalResponseCount();
        if (originalSuccess) {
          originalSuccess.call(this, model, resp, options);
        }
      }
      return originalSubmissionCreate.call(this, model, options);
    }

    $(function() {
      showTotalResponseCount();
    });

    NS.updateAllDependentFields = function(choiceField, forceHide) {
      var $choice = $(choiceField);
      var $dependents = $('[data-choice-name="' + $choice.attr('name') + '"]');
      $dependents.each(function(i, dep) {
        NS.updateDependentField($choice, dep, forceHide);
      });
    }

    NS.updateDependentField = function(choiceField, detailField, forceHide) {
      var $choice = $(choiceField);
      var $detail = $(detailField);
      var choiceFieldName = $detail.attr('data-choice-name');
      var choiceFieldValue = $detail.attr('data-choice-value') || 'other';
      var isChoiceSelected, isDetailRequired, $requiredChildren;

      // Under some circumstances, such as when the choice field itself is
      // hidden, we know we don't want to show the detail field, and we pass
      // in a forceHide argument set to true.
      if (forceHide) {
        isChoiceSelected = false;
      }

      else {
        switch ($choice.attr('type')) {

          case 'checkbox':
            if ($choice.val() != choiceFieldValue) { return; }
            isChoiceSelected = $choice.is(':checked');
            break;

          case 'radio':
            isChoiceSelected = ($choice.val() === choiceFieldValue) && $choice.is(':checked');
            break;

          case 'select':
            isChoiceSelected = $choice.find('option:selected').attr('value') === choiceFieldValue;
            break;

          default:
            isChoiceSelected = $choice.val() === choiceFieldValue;

        }
      }

      // Show or hide the detail field, depending on whether the choice
      // matches the value.
      $detail.toggleClass('is-hidden', !isChoiceSelected);

      isDetailRequired = $.data(detailField, 'originally-required');
      $requiredChildren = $.data(detailField, 'required-children');

      if (isChoiceSelected) {
        // If the detail field was originally required, make it required now.
        if (isDetailRequired) { $detail.attr('required', 'required'); }
        $requiredChildren.attr('required', 'required');
        // Instruct Shareabouts to not ignore the field or it's children when
        // saving to the API server.
        $detail.removeAttr('data-ignore');
      }

      else {
        // Remove required attributes from hidden fields.
        $detail.removeAttr('required');
        $requiredChildren.removeAttr('required');
        // Instruct Shareabouts to ignore the field and it's children when
        // saving to the API server.
        $detail.attr('data-ignore', 'ignore');
      }

      // Recursively update any dependent fields; force the dependencies to
      // hide if the choice for this field is not selected.
      $detail.find('input, textarea, select').each(function(i, subfield) {
        NS.updateAllDependentFields(subfield, !isChoiceSelected);
      });
    }

    NS.configureDependentFields = function() {
      // Any fields that have a data-choice-name attribute set should be
      // interpreted as conditional detail fields. We will look in the
      // data-choice-value attribute for the associated choice value. The
      // default choice value is "other".
      $('[data-choice-name]').each(function(i, field) {
        var $detail = $(field);
        var $choice = $('[name="' + $detail.attr('data-choice-name') + '"]');

        $.data(field, 'originally-required', $detail.is(':required'));
        $.data(field, 'required-children', $detail.find('[required]'));

        $choice.change(function(evt) {
          NS.updateDependentField(this, field);
        });
      });
    };

    // Fix the reply button action
    $(NS).on('panelshow', function(evt, router) {
      NS.configureDependentFields();

      $('.reply-link').on('click', function(evt) {
        evt.preventDefault();
        var $panelScrollable = $('#content article').first(),
            $firstLabel = $('.survey').find('label').first();
        $panelScrollable.scrollTo($firstLabel);
      });
    });

    // Show the location images
    var placeDetailRender = NS.PlaceDetailView.prototype.render;
    NS.PlaceDetailView.prototype.render = function() {
      var self = this;
      var result, place, images, siteid;
      result = placeDetailRender.call(this);

      place = this.model;
      images = place.get('images');

      if (images) {
        NS.showImagesCarousel(self, images);
      } else {
        siteid = place.get('Site_ID');
        $.ajax({
          url: '/static/images/metadata/' + siteid + '_images.json',
          success: function(data) {
            place.set('images', data['images'])
            NS.showImagesCarousel(self, data['images']);
          }
        });
      }

      return this;
    };

    NS.showImagesCarousel = function(view, images) {
      var $carousel, $images, $left, $right, updateScrollers;

      if (images.length) {
        $carousel = view.$('.images-carousel');
        $images = $carousel.find('.images-container');
        $left = $carousel.find('.left-scroller');
        $right = $carousel.find('.right-scroller');

        $images.empty();
        _.each(images, function(image) {
          $images.append('<img src="/static/images/scaled/' + image + '">');
        });

        updateScrollers = function() {
          var minScroll = 0;
          var maxScroll = $images.prop('scrollWidth') - $images.innerWidth();
          var scrollLeft = $images.scrollLeft();

          var isFarLeft = (scrollLeft === minScroll);
          var isFarRight = (scrollLeft === maxScroll);

          $left.toggle(!isFarLeft);
          $right.toggle(!isFarRight);
        };

        $images.on('scroll', updateScrollers);

        $left.on('click', function() {
          var scrollLeft = $images.scrollLeft();
          var scrollStep = $images.find('img').outerWidth(true);
          $images.animate({scrollLeft: scrollLeft - scrollStep}, 'fast');
        })

        $right.on('click', function() {
          var scrollLeft = $images.scrollLeft();
          var scrollStep = $images.find('img').outerWidth(true);
          $images.animate({scrollLeft: scrollLeft + scrollStep}, 'fast');
        })

        updateScrollers();
        $carousel.show();
      }
    };

    // Smarter geocoding
    var util_geocode = Shareabouts.Util.MapQuest.geocode;
    Shareabouts.Util.MapQuest.geocode = function(location, bounds, options) {
      // If the address/location given is complete in that it already specifies
      // a city in some format that we recognize (see endStrings), pass it on
      // through. Otherwise, tack on "Hawaii".
      var endStrings = [' hawaii', ' hi'],
          isComplete = false,
          end, i, locationEndsWith;

      locationEndsWith = function(str) {
        var endpos = location.length - str.length;
        return (location.toLowerCase().trim().slice(endpos) === str)
      }

      // Loop through each recognized end and change the isComplete flag if one
      // matches.
      for (i = 0; i < endStrings.length; ++i) {
        end = endStrings[i];
        if (locationEndsWith(end)) {
          isComplete = true;
          break;
        }
      }

      // If no ends matched, specify the city.
      if (!isComplete) {
        location = location + ', Hawaii';
      }

      return util_geocode.call(this, location, bounds, options);
    };

    Gatekeeper.validate = function(form) {
      // Get invalid elements from the form
      var invalidEls = Gatekeeper.getInvalidFormEls(form),
          layout = NS.Util.getPageLayout();

      // Indicate that this form has been submitted
      $(form).addClass('form-submitted');

      if (invalidEls && invalidEls.length > 0) {
        // Focus on the first invalid element
        invalidEls[0].focus();
        if (invalidEls[0].select) { invalidEls[0].select(); }

        if (layout === 'mobile') {
          invalidEls[0].scrollIntoView();
        }

        return false;
      }
      return true;
    };


    var originalOnMarkerClick = Shareabouts.LayerView.prototype.onMarkerClick;
    NS.LayerView.prototype.onMarkerClick = function(evt) {
      var self = this;
      originalOnMarkerClick.apply(this, arguments);
      if (this.map.getZoom() < this.map.getMaxZoom()-1) {
        _.delay(function() {
          self.map.setView(evt.latlng, self.map.getMaxZoom()-1, {
            animate: true
          });

          self.map.invalidateSize({ animate:false, pan:false });
        }, 200);
      }
    }

  }(Shareabouts, jQuery));
</script>
{% endblock %}
