{% extends 'base.html' %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block site-title %}
<a href="https://www.metro.net/walkbikeroll" target="_blank"><span id="site-title-text">{{ config.app.title }}</span><img id="site-logo" src="{{ config.static_url }}css/images/Metro_Bike_Share_Logo-04.png" title="{{ config.app.name }}"></a>
{% endblock %}

{% block meta %}
  {% if place %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ place.properties.name }}">
    <meta name="twitter:description" content="{{ place.properties.description }}">
    {% with attachment=place.properties.attachments|first %}
    <meta name="twitter:image:src" content="{{ attachment.file }}">
    {% endwith %}
    {% comment %} TODO: Fill this in when we know if the username is from twitter
      <meta name="twitter:creator" content="place.submitter.username">
    {% endcomment %}

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ place.properties.name }}" />
    <meta property="og:description" content="{{ place.properties.description }}" />
    {% with attachment=place.properties.attachments|first %}
    <meta name="og:image" content="{{ attachment.file }}">
    {% endwith %}
  {% else %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ config.app.title }}">
    <meta name="twitter:description" content="{{ config.app.meta_description }}">
    <meta name="twitter:image:src" content="{{ STATIC_URL }}images/mobile-screenshot.png">

    <!-- Facebook -->
    <meta property="og:site_name" content="{{ config.app.title }}" />
    <meta property="og:title" content="{{ config.app.title }}" />
    <meta property="og:description" content="{{ config.app.meta_description }}" />
    <meta property="og:image" content="{{ STATIC_URL }}images/mobile-screenshot.png">
  {% endif%}

  <script src="https://use.typekit.net/qfg7vgr.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
{% endblock %}
<!--
  This will place content at the top of the side bar
 -->
{% block sidebar %}
{% endblock %}

<!--
  This will place content in the colophon below the map
 -->
{% block colophon %}
<p class="total-response-indicator hidden">{% blocktrans %}<span class="total-response-count">0</span> Total Responses{% endblocktrans %}</p>

<p id="powered-by">{% blocktrans %}Powered by <a href="https://github.com/openplans/shareabouts/" class="shareabouts-logo" target="_blank">Shareabouts</a><!--, <span class="nobreak">hosted by <a href="http://openplans.org/" class="openplans-logo" target="_blank">OpenPlans</a></span-->{% endblocktrans %}</p>

<div class="city-logos">
   <img src="{{STATIC_URL}}images/Metro_Bike_Share_Partner_Logos_Lockup-10.svg" class="footer-logo">
</div>
{% endblock %}
<div>

</div>
<!--
  Analytics, custom JS, and such go here
 -->
{% block includes %}

{% include '_layer_toggle.html' %}

<script>
  (function(NS, $) {
    NS.bootstrapped.mapHost = '{{ request.get_host }}';

    Handlebars.registerHelper('host', function() {
      return NS.bootstrapped.mapHost;
    });

    Handlebars.registerHelper('original_path', function() {
      return '/' + NS.Config.map.options.zoom + '/' + NS.Config.map.options.center.lat + '/' + NS.Config.map.options.center.lng;
    });

    $(function() {
      var url = 'https://metro.net/bikeshare';
      $('header').append(
        '<div class="social">' +
        '  <ul class="sharing unstyled-list">' +
        '    <li class="share-link share-twitter"><a href="https://twitter.com/intent/tweet?url=' + url + '&text=Help us build Metro Bike Share!" target="_blank" data-shareto="twitter">{% trans 'Tweet This' %}</a></li>' +
        '    <li class="share-link share-facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=' + url + '" target="_blank" data-shareto="facebook">{% trans 'Recommend on Facebook' %}</a></li>' +
        '  </ul>' +
        '</div>'
      );
    });


    function commaSeparateNumber(val){
      while (/(\d+)(\d{3})/.test(val.toString())){
        val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
      }
      return val;
    };

    function showTotalResponseCount() {
      $.ajax({
        url: '/api/surveys?page_size=1',
        success: function(data) {
          var responseCount = data.metadata.length;
          $('.total-response-count').html(commaSeparateNumber(responseCount));
          $('.total-response-indicator').removeClass('hidden');
        }
      });
    };

    function incrementTotalResponseCount() {
      try {
        var responseCountString = $('.total-response-count').html(), responseCount;

        // Remove all the commas and parse as a number...
        responseCount = parseInt(responseCountString.replace(/,/g, ''));

        // Increment and add commas back in.
        responseCount += 1;
        $('.total-response-count').html(commaSeparateNumber(responseCount));
      } catch(err) {
        // Fail silently here; it's no big deal.
      }
    };

    var originalSubmissionCreate = Shareabouts.SubmissionCollection.prototype.create;
    Shareabouts.SubmissionCollection.prototype.create = function(model, options) {
      var originalSuccess = options.success;
      options.success = function(model, resp, options) {
        incrementTotalResponseCount();
        if (originalSuccess) {
          originalSuccess.call(this, model, resp, options);
        }
      }
      return originalSubmissionCreate.call(this, model, options);
    }

    $(function() {
      showTotalResponseCount();
    });

    NS.updateAllDependentFields = function(choiceField, forceHide) {
      var $choice = this.$(choiceField);
      var $dependents = this.$('[data-choice-name="' + $choice.attr('name') + '"]');
      var self = this;
      $dependents.each(function(i, dep) {
        NS.updateDependentField.call(self, $choice, dep, forceHide);
      });
    }

    NS.updateDependentField = function(choiceField, detailField, forceHide) {
      var $choice = this.$(choiceField);
      var $detail = this.$(detailField);
      var choiceFieldName = $detail.attr('data-choice-name');
      var choiceFieldValue = $detail.attr('data-choice-value') || 'other';
      var isChoiceSelected, isDetailRequired, $requiredChildren;
      var self = this;

      // Under some circumstances, such as when the choice field itself is
      // hidden, we know we don't want to show the detail field, and we pass
      // in a forceHide argument set to true.
      if (forceHide) {
        isChoiceSelected = false;
      }

      else {
        switch ($choice.attr('type')) {

          case 'checkbox':
            if ($choice.val() != choiceFieldValue) { return; }
            isChoiceSelected = $choice.is(':checked');
            break;

          case 'radio':
            isChoiceSelected = ($choice.val() === choiceFieldValue) && $choice.is(':checked');
            break;

          case 'select':
            isChoiceSelected = $choice.find('option:selected').attr('value') === choiceFieldValue;
            break;

          default:
            isChoiceSelected = $choice.val() === choiceFieldValue;

        }
      }

      // Show or hide the detail field, depending on whether the choice
      // matches the value.
      $detail.toggleClass('is-hidden', !isChoiceSelected);

      isDetailRequired = $.data(detailField, 'originally-required');
      $requiredChildren = $.data(detailField, 'required-children');

      if (isChoiceSelected) {
        // If the detail field was originally required, make it required now.
        if (isDetailRequired) { $detail.attr('required', 'required'); }
        $requiredChildren.attr('required', 'required');
        // Instruct Shareabouts to not ignore the field or it's children when
        // saving to the API server.
        $detail.removeAttr('data-ignore');
      }

      else {
        // Remove required attributes from hidden fields.
        $detail.removeAttr('required');
        $requiredChildren.removeAttr('required');
        // Instruct Shareabouts to ignore the field and it's children when
        // saving to the API server.
        $detail.attr('data-ignore', 'ignore');
      }

      // Recursively update any dependent fields; force the dependencies to
      // hide if the choice for this field is not selected.
      $detail.find('input, textarea, select').each(function(i, subfield) {
        NS.updateAllDependentFields.call(self, subfield, !isChoiceSelected);
      });
    }

    NS.configureDependentFields = function() {
      // Any fields that have a data-choice-name attribute set should be
      // interpreted as conditional detail fields. We will look in the
      // data-choice-value attribute for the associated choice value. The
      // default choice value is "other".
      var self = this;
      self.$('[data-choice-name]').each(function(i, field) {
        var $detail = self.$(field);
        var $choice = self.$('[name="' + $detail.attr('data-choice-name') + '"]');

        $.data(field, 'originally-required', $detail.is(':required'));
        $.data(field, 'required-children', $detail.find('[required]'));

        $choice.change(function(evt) {
          NS.updateDependentField.call(self, this, field);
        });
      });
    };

    // Fix the reply button action
    var surveyFormRender = NS.SurveyView.prototype.render;
    NS.SurveyView.prototype.render = function() {
      var result = surveyFormRender.call(this);
      NS.configureDependentFields.call(this);

      $('.reply-link').on('click', function(evt) {
        evt.preventDefault();
        var $panelScrollable = $('#content article').first(),
            $firstLabel = $('.survey').find('label').first();
        $panelScrollable.scrollTo($firstLabel);
      });

      return result;
    };

    // Show the location images
    var placeDetailRender = NS.PlaceDetailView.prototype.render;
    NS.PlaceDetailView.prototype.render = function() {
      var self = this;
      var result, place, images, siteid;
      result = placeDetailRender.call(this);

      place = this.model;
      images = place.get('images');

      if (images) {
        NS.showImagesCarousel(self, images);
      } else {
        siteid = place.get('Site_ID');
        $.ajax({
          url: '/static/images/metadata/' + siteid + '_images.json',
          success: function(data) {
            place.set('images', data['images'], {silent: true})
            NS.showImagesCarousel(self, data['images']);
          },
          error: function() {
            NS.showImagesCarousel(self, []);
          }
        });
      }

      return this;
    };

    NS.showImagesCarousel = function(view, images) {
      var $carousel, $images, $left, $right, updateScrollers,
          streetview = view.model.get('Streetview Image'),
          streetviewLink = view.model.get('Streetview Link');

      if (streetview || images.length) {
        $carousel = view.$('.images-carousel');
        $images = $carousel.find('.images-container');
        $left = $carousel.find('.left-scroller');
        $right = $carousel.find('.right-scroller');

        $images.empty();
        _.each(images, function(image) {
          $images.append('<img src="/static/images/scaled/' + image + '">');
        });
        if (streetview) {
          $images.append(
            (streetviewLink ? '<a href="' + streetviewLink + '" target="_blank" title="Open in Street View">' : '') +
            '<img class="sv" src="' + streetview + '">' +
            (streetviewLink ? '</a>' : '')
          )
        }

        updateScrollers = function() {
          var minScroll = 0;
          var maxScroll = $images.prop('scrollWidth') - $images.innerWidth();
          var scrollLeft = $images.scrollLeft();

          var isFarLeft = (scrollLeft === minScroll);
          var isFarRight = (scrollLeft >= maxScroll);

          $left.toggle(!isFarLeft);
          $right.toggle(!isFarRight);
        };

        $images.on('scroll', updateScrollers);

        $left.on('click', function() {
          var scrollLeft = $images.scrollLeft();
          var scrollStep = $images.find('img').outerWidth(true);
          $images.animate({scrollLeft: scrollLeft - scrollStep}, 'fast');
        })

        $right.on('click', function() {
          var scrollLeft = $images.scrollLeft();
          var scrollStep = $images.find('img').outerWidth(true);
          $images.animate({scrollLeft: scrollLeft + scrollStep}, 'fast');
        })

        $carousel.show();
        updateScrollers();
      }
    };

    // Smarter geocoding
    var util_geocode = Shareabouts.Util.Mapbox.geocode;
    Shareabouts.Util.Mapbox.geocode = function(location, hint, options) {
      // If the address/location given is complete in that it already specifies
      // a city in some format that we recognize (see endStrings), pass it on
      // through. Otherwise, tack on "Hawaii".
      var endStrings = [' los angeles', ' la', ' california', ' ca'],
          isComplete = false,
          originalSuccess = options && options.success,
          end, i, locationEndsWith;

      locationEndsWith = function(str) {
        var endpos = location.length - str.length;
        return (location.toLowerCase().trim().slice(endpos) === str)
      }

      // Loop through each recognized end and change the isComplete flag if one
      // matches.
      for (i = 0; i < endStrings.length; ++i) {
        end = endStrings[i];
        if (locationEndsWith(end)) {
          isComplete = true;
          break;
        }
      }

      // If no ends matched, specify the city.
      if (!isComplete) {
        location = location + ', Los Angeles, CA, USA';
      }

      options.success = function(data) {
        if (originalSuccess) {
          // If the only result that came back is the generic LA, then
          // act like nothing came back at all.
          if (data.results.length > 0) {
            if (data.results[0].locations[0].place_name ===
                'Los Angeles, California, United States') {
              data.results[0].locations = [];
            }
          }

          originalSuccess(data);
        }
      };

      return util_geocode.call(this, location, hint, options);
    };

    Gatekeeper.validate = function(form) {
      // Get invalid elements from the form
      var invalidEls = Gatekeeper.getInvalidFormEls(form),
          layout = NS.Util.getPageLayout();

      // Indicate that this form has been submitted
      $(form).addClass('form-submitted');

      if (invalidEls && invalidEls.length > 0) {
        // Focus on the first invalid element
        invalidEls[0].focus();
        if (invalidEls[0].select) { invalidEls[0].select(); }

        if (layout === 'mobile') {
          invalidEls[0].scrollIntoView();
        }

        return false;
      }
      return true;
    };


    var originalOnMarkerClick = Shareabouts.LayerView.prototype.onMarkerClick;
    NS.LayerView.prototype.onMarkerClick = function(evt) {
      var self = this;
      originalOnMarkerClick.apply(this, arguments);
      if (this.map.getZoom() < this.map.getMaxZoom()-1) {
        _.delay(function() {
          self.map.setView(evt.latlng, self.map.getMaxZoom()-1, {
            animate: true
          });

          self.map.invalidateSize({ animate:false, pan:false });
        }, 200);
      }
    }

    var originalMapViewInitialize = Shareabouts.MapView.prototype.initialize;
    NS.MapView.prototype.initialize = function() {
      originalMapViewInitialize.apply(this, arguments);

      this.map.eachLayer(function(layer) {
        if (layer.options) {
          switch (layer.options.name) {
          case 'bus-lines':
            NS.busLinesLayer = layer;
            layer.setZIndex(10);
            break;

          case 'rail-lines':
            NS.railLinesLayer = layer;
            layer.setZIndex(20);
            break;

          case 'bike-lanes':
            NS.bikeLanesLayer = layer;
            layer.setZIndex(30);
            break;

          case 'labels':
            layer.setZIndex(40);
            break;
          }
        }
      });

      // Add the legend toggle widget
      this.map.addControl(L.control.legend({
        layers: {
          'bus-lines': NS.busLinesLayer,
          'rail-lines': NS.railLinesLayer,
          'bike-lanes': NS.bikeLanesLayer
        }
      }));
    };

  }(Shareabouts, jQuery));
</script>
{% endblock %}
