/*
 * All rules herein will override the default Shareabouts styles.
 * "With great power comes great responsibility."
 */

/*
 * Google Fonts:
 * - aktiv-grotesk-std --> Quicksand  (for menus)
 * - europa --> Open Sans  (for headers)
 * - calluna --> Merriweather  (paragraph text)
 */

/* =Base Styles
-------------------------------------------------------------- */

body {
  background-color: white;
}

/* Links */
a, a:active, a:visited {
  color: #4475BA;
}
a:hover {
  color: #3979D4;
}

/* Typography */
body, select, input, textarea {
  color: #444;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "europa", "Open Sans", "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: "europa", "Open Sans", "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 2rem;
  line-height: 1.2em;
  font-weight: 300;
  font-style: normal;
  color: #78dda5;
}

.has-pages #site-title {
  padding-left: 0;
}

.survey-demographics,
.survey-contact {
  font-family: "Merriweather";
  font-size: 0.8em;
}

p,
li,
label {
  font-family: "calluna", "Merriweather", "Garamond", serif;
  font-size: 0.8rem;
  line-height: 1.6em;
  letter-spacing: .4px;
  font-weight: 300;
  font-style: normal;
  color: rgba(31,37,38,.75);
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  text-transform: uppercase;
  font-family: "aktiv-grotesk-std", "Quicksand", "Verdana", sans-serif;
  letter-spacing: 3px;
  font-weight: 400;
  font-style: normal;

  border-radius: 0;
  background-color: #000;
  color: #fff;
/*  border: 0;*/
  border-color: transparent;
}
.btn:hover, .button:hover, button:hover {
  background-color: #287AED;
}
.btn-primary, .btn-primary:visited, .btn-primary:link {
  background-color: #3979D4;
  color: #fff;
  font-weight: 700;
}
.btn-primary:hover {
  background-color: #287AED;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #fff;
  color: #3979D4;
}
.btn-secondary:hover {
  background-color: #fff;
  color: #444;
}
.btn-disabled,
.btn-disabled:visited,
.btn-disabled:link,
.btn-disabled:hover {
  background-color: #eee;
  color: #ccc;
  box-shadow: none;
}

/* Forms */
label {
  font-weight: bold;
  text-transform: none;
  color: inherit;
}
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  outline: 0;
  border: 0.25em solid #b6e4ef;
}
input:focus,
textarea:focus {
  border: 0.25em solid #44cae7;
  outline: 2px solid #44cae7;
}

/* Old IE does not like this to be combine with :invalid rules.
   It will ignore it! */
.form-submitted .gatekeeper-invalid ~ label {
  border: 2px solid #b2182b;
}
.form-submitted .gatekeeper-invalid ~ .validation-message {
  display: block;
}
.form-submitted .gatekeeper-invalid {
  outline: none;
}

.form-submitted input:invalid ~ label,
.form-submitted textarea:invalid ~ label,
.form-submitted select:invalid ~ label {
  box-shadow: 0px 0px 2px 2px #b2182b;
}

.survey-label {
  margin-bottom: 1.125em;
  display: inline-block;
}
label.survey-label {
  font-family: "aktiv-grotesk-std", "Quicksand", "Verdana", sans-serif;
  font-size: 1em;
}

.validation-message {
  text-transform:uppercase;
  padding: 0 0.4em;
  background-color: rgba(178, 24, 43, 0.1);
  border-radius: 2px;
  color: #b2182b;
  font-size:0.6em;
  line-height: 1.5;
  position: absolute;
  top: -2.25em;
  display:none;
}

.form-submitted input:invalid ~ .validation-message,
.form-submitted textarea:invalid ~ .validation-message,
.form-submitted select:invalid ~ .validation-message {
  display: block;
}

.radio-group,
.checkbox-group {
  margin-bottom: 1.5em;
  position: relative;
}
.radio-group input,
.checkbox-group input {
  opacity: 0;
  width: 1px;
  height: 5em;
  position: absolute;
  top: -5em;
}
.radio-group label,
.checkbox-group label {
  font-size: 0.875em;
  margin: 0 0.125em 0.4em 0;
}
.btn-radio,
.btn-radio:visited,
.btn-radio:link,
.btn-checkbox,
.btn-checkbox:visited,
.btn-checkbox:link {
  background-color: #ddd;
  color: #000;
  text-align: left;
  border: 1px solid #ccc;
  box-shadow: -0.25em 0.25em 3px rgba(0,0,0,0.08)
}
:checked + .btn-radio,
.btn-radio.checked,
.btn-radio:hover,
:checked + .btn-checkbox,
.btn-checkbox.checked,
.btn-checkbox:hover {
  background-color: #fcc800;
  color: #fff;
  border: 1px solid #db0;
}


/* =Header
-------------------------------------------------------------- */

#site-header {
  color: #eee;
  background-color: #fff;
}
#site-title {
  color: #eee;
  font-family: "Arial Narrow", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-shadow: none;
  float: left;
  margin-right: 10em;
  margin-right: -4.5em;
  width: 100%;
  padding-right: 4.5em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#site-title a:link,
#site-title a:visited {
  display: inline;
  font-size: 2em;
  color: #fff;
}
#site-title a:hover {
  color: #fff;
}

#site-title-text {
  display: none;
}
#site-logo {
  display: block;
  max-height: 1.5em;
}
#site-deadline {
  display: block;
  font-family: Merriweather;
  font-style: normal;
  color: #44cae7;
  font-size: 0.75em;
}

/* Navigation Button */
#nav-btn {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; /* Careful changin' this! */
  background: #4475BA;
  color: #5c9cf3;
  text-shadow: none;
}
#pages-nav-container {
  display: none;
}

/* User Menu */
#sign-in-btn {
  max-width: 4.25em;
  line-height: 1.25;
  margin-top: 0.5em;
}
.authed #sign-in-btn {
  margin-top: 0.125em;
}
#sign-in-btn:hover {
  color: black;
}
a.logout-btn {
  color: #a3c7d9;
}


/* =Map
-------------------------------------------------------------- */

/* Add Place Button */
#add-place-btn-container {
/*  background: #777;*/
/*  border-bottom: 1px solid #666;*/
}

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
/*  background-color: rgba(240,240,0,0.2);*/
/*  color: #444;*/
}
.drag-marker-warning {
/*  background-color: rgba(242, 206, 206, 0.8);*/
}

/* Ajax Error Message */
#ajax-error-msg {
/*  color: #8D5251;*/
/*  border: 1px solid #CFABAB;*/
/*  background-color: rgba(242, 206, 206, 0.8);*/
}

#map {
  background-color: #EBE2D9;
}


/* =Progress Bars
-------------------------------------------------------------- */

.progress-bar {
/*  background: rgba(85,85,85,0.5);*/
}
.progress-bar strong {
/*  color: #fff;*/
/*  text-shadow: 0 0 0.25em rgba(85,85,85,1);*/
}
.progress-bar span {
/*  background: #00aaff;*/
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
/*  background: #fff;*/
}

/* Close Button */
a.close-btn {
  /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/ /* Careful changin' this! */
/*  background: #fff;*/
/*  color: #ff5e99;*/
}
a.close-btn:hover {
/*  color: #cd2c67;*/
}

/* Promotion: Voting & Sharing */
.user-support label {
  /*background: transparent url(images/heart-empty.png) left center no-repeat scroll;*/
/*  padding-left: 22px;*/
  color: #fff;
}
.user-support input[type=checkbox]:checked ~ label {
  /*background-image: url(images/heart.png);*/
}
.user-support:hover label {
  background-color: #3979D4;
  color: #fff;
}

/* Places */
.response-date {
/*  text-transform: uppercase;*/
/*  color: #888;*/
}
.response-date a {
/*  color: #888;*/
}
.response-date a:hover {
/*  color: #00aaff;*/
}

/* Surveys */
a.reply-link {
   float: none;
   position: relative;
}
.response-body {
/*  border-top-color: #a8a8a8;*/
/*  border-right-color: #c8c8c8;*/
/*  border-left-color: #c8c8c8;*/
/*  background: #eee;*/
}
.response-body:after {
/*  border-top-color: #eee;*/
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #fff;
}
.recent-points a {
  color: #444;
  border-top: 0px solid #eee;
  border-bottom: 1px solid #eee;
}
.recent-points a:hover {
  color: #fff;
  background: #4475BA;
  border-color: #4475BA;
}


/* =List View
-------------------------------------------------------------- */

#list-container {
/*  background: #fff;*/
}

/* Search & Sort */
.list-sort-menu {
/*  color: #eee;*/
/*  text-transform: uppercase;*/
}
.list-sort-prompt {
/*  color: #999;*/
}
.list-sort-menu a {
}
.list-sort-menu a.is-selected {
/*  color: #555;*/
}

/* Place List */
.place-list > li {
/*  border-top: 1px solid #eeeeee;*/
}


/* =Geocoding
-------------------------------------------------------------- */

#geocode-address-bar {
  padding-top: 0.5em;
  background-color: #000;
}
input.geocode-address-field {
  border-width: 0;
  background-color: #000;
  color: #f9cc00;
  font-family: "Quicksand";
  font-weight: bold;
  padding-left: 2.5em;
}
.geocode-address-label:before {
  border: 0.2em solid #f9cc00;
}
.geocode-address-label:after {
  background-color: #f9cc00;
}
#geocode-address-bar .error {
  line-height: 1.75;
  background-color: #F26161;
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error + form {
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error.is-hidden + form {
  box-shadow: none;
}
.geocode-spinner {
  background-color: #325587;
}

/* =Footer
-------------------------------------------------------------- */

#colophon {
  background-color: #999;
}
#powered-by {
  color: #fff;
}

/* Powered By - Please do not change these. */
a.shareabouts-logo {
  font-family: 'Dancing Script', cursive;
  color: #a3c7d9 !important;
}
a.shareabouts-logo:hover {
  color: #fff !important;
  border-bottom: 1px solid #ccc;
}
#powered-by a.openplans-logo {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #ffb885;
}
#powered-by a.openplans-logo:hover {
  color: #fff;
  border-bottom: 1px solid #ccc;
}

/* =Survey Form */

.survey-field-why_good,
.survey-field-why_good_other_reason,
.survey-field-why_bad,
.survey-field-why_bad_other_reason,
.survey-field-alt_suggestion {
  display: none;
}

.survey-field-why_good_other_reason,
.survey-field-why_bad_other_reason {
  margin-top: -1.5em;
}

.total-response-indicator {
  font-size: 1.25em;
  color: black;
}
.total-response-count {
  font-size: 1.75em;
  font-weight: bold;
  display: block;
}

.access .btn,
#sign-in-btn,
.sign-in-menu,
.auth-btn {
  font-family: "aktiv-grotesk-std", "Quicksand", "Verdana", sans-serif;
}

.access .btn,
#sign-in-btn,
.auth-btn {
  box-shadow: none;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #757575;
  font-weight: 400;
  font-style: normal;
}

.access .btn:hover,
#sign-in-btn:hover {
  color: #c9c9c9;
}

.page-about h1,
p.responses-summary {
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.75em;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 0.75em;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #eee;
  color: white;
  background-image: url(http://static1.squarespace.com/static/546e852de4b065a4ff814411/t/55385f7ce4b027f5e06f129d/1429757820967/bikeshare-bg.jpg?format=600w);
  background-position: 0px -75px;
  background-size: cover;
}

.page-about h1 {
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.welcome-decor {
  display: none;
}

.images-carousel {
  padding: 1em;
  border: 1px solid #facb00;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  background-color: #ddd;
  /*box-shadow: inset 0px 2px 2px rgba(0,0,0,0.25);*/
  margin-bottom: 1em;
  position: relative;

  display: none;
}

.images-carousel .images-container {
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
}

.images-carousel .images-container img {
  width: 100%;
  margin-right: 1em;
}

.images-carousel .images-container img:last-child {
  margin-right: 0;
}

.images-carousel .scroller {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  padding: 0.5em;
  font-size: 2em;
  font-weight: bold;
  background-color: rgba(255,255,255,0.5);
}

.images-carousel .left-scroller {
  left: 0;
}

.images-carousel .right-scroller {
  right: 0;
}

.images-carousel .scroller:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.85);
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-height: 440px) and (max-width: 60em) {
}

@media only screen and (min-height: 568px) and (max-width: 60em) {
}

@media only screen and (min-width: 768px) and (max-width: 60em) {
}

@media only screen and (min-width: 60em) {
  #site-header {
    padding-left: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border-bottom: 1px solid #ddd;
  }
  #site-title {
    width: auto;
    position: relative;
    top: -2px;
  }
  #site-title-text {
    display: none;
  }
  #site-logo {
    display: block;
    max-height: 2em;
    margin-top: 0;
  }
  #site-deadline {
    position: absolute;
    top: 2em;
    left: 100%;
    white-space: nowrap;
    margin-left: -4em;
    font-family: Merriweather;
    font-style: normal;
    color: #44cae7;
    font-size: 0.75em;
  }
  .access,
  .auth-btn,
  #sign-in-btn {
    font-size: 0.75em;
  }
  .access {
    margin-top: -1.5em;
  }
  .access li:hover > ul,
  .access li:hover > form > ul {
    background: #ccc;
    border-color: rgba(0,0,0,0.05);
  }
  #sign-in-btn {
    max-width: none;
    margin-top: 1.25em;
  }
  .authed #sign-in-btn {
    margin-top: 0.5rem;
  }
  .sign-in-menu {
    background: #666;
    box-shadow: -0.25em 0.25em 3px rgba(0,0,0,0.2);
  }
  .sign-in-menu:before {
    border-bottom-color: #666;
  }

  #add-place-btn-container {
    background: transparent;
    border-bottom: 0;
  }

  .list-toggle-nav {
    float: left;
  }
  .list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    min-width: 11.5em;
    background-color: #fff;
    color: #3979D4;
  }
  .list-toggle-btn:hover {
    background-color: #fff;
    color: #444;
  }
  .show-the-map:before {
    content: '\27A4';
    margin: 0 0.375em;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 30% 60%;
        -ms-transform-origin: 30% 60%;
            transform-origin: 30% 60%;
  }
  .show-the-list:before {
    content: '\2630';
    margin: 0 0.375em;
    text-shadow: -0.25em 0 0 #fff, -0.25em -1px 0 #fff, -0.25em 1px 0 #fff, -0.375em 0 0 #3979D4;
  }
  .list-toggle-btn:hover .show-the-list:before {
    text-shadow: -0.25em 0 0 #fff, -0.25em -1px 0 #fff, -0.25em 1px 0 #fff, -0.375em 0 0 #444;
  }
  .total-response-indicator {
    font-size: 0.875em;
    position: fixed;
    bottom: -1em;
    left: -1em;
    margin: 0;
    background-color: #000;
    color: #bbb;
    padding: 0.5em 1em 1.5em 2em;
    border-radius: 0 0.75em 0 0;
    box-shadow: 0.325em -0.325em rgba(0,0,0,0.1);
  }
  .total-response-count {
    color: #f9cc00;
    font-size: 2em;
  }

  #content {
    box-shadow: -0.325em 0 3px rgba(0,0,0,0.1);
  }
  a.close-btn {
    box-shadow: -0.325em 0.325em 3px rgba(0,0,0,0.1);
  }
  #colophon {
    box-shadow: 0 -2px 3px rgba(0,0,0,0.1);
    border-top: 1px solid #aaa;
  }

  .welcome-decor {
    display: block;
    border-radius: 10px;
    border: 1px solid #eee;
  }

  .images-carousel .images-container img {
    width: 50%;
  }
}

@media only screen and (min-width: 80em) {
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
}
