/*
 * All rules herein will override the default Shareabouts styles.
 * "With great power comes great responsibility."
 */

/* =Base Styles
-------------------------------------------------------------- */

html {
  font-size: 14px;
}

/* Links */
a, a:active, a:visited {
  color: #00b7e8;
}
a:hover {
  color: #00b7e8;
}

/* Typography */

body, select, input, textarea {
  color: #444;
  font-family: "Montserrat", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2em;
  font-weight: bold;
  font-style: normal;
  color: black;
}

.survey-demographics,
.survey-contact {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

p,
li,
label {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.5em;
  letter-spacing: .4px;
  font-weight: 100;
  font-style: normal;
  color: rgba(31,37,38,.75);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1em;
  font-weight: 300;
  font-style: normal;
  color: #000;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1em;
  font-weight: 100;
  font-style: normal;
  color: #000;
}

body.content-visible header .social {
  display: none;
}

.page-about h4 {
  line-height: 1.4em;
}

.page-about .splash-image {
  padding-bottom: 0.5rem;
}

.page-about .instructions {
  text-align: center;
}

.page-about p {
  text-align: justify;
}

.page-about .marker-sample {
  height: 2em;
}



/* Buttons */
.btn,
.btn:visited,
.btn:link {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  font-style: normal;

  border-radius: 0;
  background-color: #000;
  color: #fff;
/*  border: 0;*/
  border-color: transparent;
}
.btn:hover, .button:hover, button:hover {
  background-color: #287AED;
}
/*.btn-primary, .btn-primary:visited, .btn-primary:link {
  background-color: #3979D4;
  color: #fff;
  font-weight: 400;*/
}
.btn-primary:hover {
  background-color: #287AED;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #00B7E8;
}
.btn-secondary:hover {
  background-color: #00B7E8;
}
.btn-disabled,
.btn-disabled:visited,
.btn-disabled:link,
.btn-disabled:hover {
  background-color: #eee;
  color: #ccc;
  box-shadow: none;
}

/* Forms */
label {
  font-weight: 300;
  text-transform: none;
  color: inherit;
}
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  outline: 0;
  border: 2px solid #e5e5e5;
  transition: all 0.3s ease 0s;
}
input:focus,
textarea:focus {
  border: 2px solid #00b7e8;
  outline: 2px solid #00b7e8;
}

/* Old IE does not like this to be combine with :invalid rules.
   It will ignore it! */
.form-submitted .gatekeeper-invalid ~ label {
  border: 2px solid #b2182b;
}
.form-submitted .gatekeeper-invalid ~ .validation-message {
  display: block;
}
.form-submitted .gatekeeper-invalid {
  outline: none;
}

.form-submitted input:invalid ~ label,
.form-submitted textarea:invalid ~ label,
.form-submitted select:invalid ~ label {
  box-shadow: 0px 0px 2px 2px #b2182b;
}

.survey-label {
  margin-bottom: 1.125em;
  display: inline-block;
}
.place-detail p,
label.survey-label {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
}

.place-detail h4 {
  font-weight: bold;
}

.validation-message {
  text-transform:uppercase;
  padding: 0 0.4em;
  background-color: rgba(178, 24, 43, 0.1);
  border-radius: 2px;
  color: #b2182b;
  font-size:0.6em;
  line-height: 1.5;
  position: absolute;
  top: -2.25em;
  display:none;
}

.form-submitted input:invalid ~ .validation-message,
.form-submitted textarea:invalid ~ .validation-message,
.form-submitted select:invalid ~ .validation-message {
  display: block;
}

.survey textarea,
.survey input[type="text"],
.survey input[type="email"],
.radio-group,
.checkbox-group {
  margin-bottom: 1.5em;
  position: relative;
}
.radio-group input,
.checkbox-group input {
  opacity: 0;
  width: 1px;
  height: 5em;
  position: absolute;
  top: -5em;
}
.radio-group label,
.checkbox-group label {
  font-size: 0.875em;
  margin: 0 0.125em 0.4em 0;
}
.btn-radio,
.btn-radio:visited,
.btn-radio:link,
.btn-checkbox,
.btn-checkbox:visited,
.btn-checkbox:link {
  background-color: #fff;
  color: #000;
  text-align: left;
  border: 2px solid #e5e5e5;
  font-weight: 400;
  box-shadow: none;
  transition: all 0.2s ease 0s;
}
.btn-radio:hover,
.btn-checkbox:hover {
  background-color: #f0f28d;
  color: #000;
  border: 2px solid #e3e680;
}
:checked + .btn-radio,
.btn-radio.checked,
:checked + .btn-checkbox,
.btn-checkbox.checked {
  background-color: #00b7e8;
  color: #000;
  border: 2px solid #00b7e8;
}


/* =Header
-------------------------------------------------------------- */

#site-header {
  color: white;
  background-color: #00B7E8;
}
#site-title {
  color: #eee;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-shadow: none;
  float: left;
  margin-right: 10em;
  margin-right: -5.5em;
  width: 100%;
  padding-right: 4.5em;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#site-title a:link,
#site-title a:visited {
  display: inline;
  font-size: 1.5em;
  color: #fff;
}
#site-title a:hover {
  color: #fff;
}

#site-title-text {
  display: inline-block;
  vertical-align: 50%;
  font-size: 1rem;
}
#site-logo {
  display: inline-block;
  max-height: 2em;
}
/*#site-deadline {
  display: block;
  font-family: Merriweather;
  font-style: normal;
  color: #44cae7;
  font-size: 0.75em;
}*/

/* Navigation Button */
#nav-btn {
  font-family: "Montserrat", sans-serif; /* Careful changin' this! */
  background: #4475BA;
  color: #5c9cf3;
  text-shadow: none;
}

/* User Menu */
.auth-nav-container {
  display: none;
}


/* =Map
-------------------------------------------------------------- */

/* Add Place Button */
#add-place-btn-container {
/*  background: #777;*/
/*  border-bottom: 1px solid #666;*/
}

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
/*  background-color: rgba(240,240,0,0.2);*/
/*  color: #444;*/
}
.drag-marker-warning {
/*  background-color: rgba(242, 206, 206, 0.8);*/
}

/* Ajax Error Message */
#ajax-error-msg {
/*  color: #8D5251;*/
/*  border: 1px solid #CFABAB;*/
/*  background-color: rgba(242, 206, 206, 0.8);*/
}

#map {
  background-color: #EBE2D9;
}


/* =Progress Bars
-------------------------------------------------------------- */

.progress-bar {
/*  background: rgba(85,85,85,0.5);*/
}
.progress-bar strong {
/*  color: #fff;*/
/*  text-shadow: 0 0 0.25em rgba(85,85,85,1);*/
}
.progress-bar span {
/*  background: #00aaff;*/
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
/*  background: #fff;*/
}

/* Close Button */
a.close-btn {
  /*font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;*/ /* Careful changin' this! */
/*  background: #fff;*/
/*  color: #ff5e99;*/
}
a.close-btn:hover {
/*  color: #cd2c67;*/
}

/* Promotion: Voting & Sharing */
.user-support label {
  /*background: transparent url(images/heart-empty.png) left center no-repeat scroll;*/
/*  padding-left: 22px;*/
  color: #fff;
}
.user-support input[type=checkbox]:checked ~ label {
  /*background-image: url(images/heart.png);*/
}
.user-support:hover label {
  background-color: #3979D4;
  color: #fff;
}

/* Places */
.response-date {
/*  text-transform: uppercase;*/
/*  color: #888;*/
}
.response-date a {
/*  color: #888;*/
}
.response-date a:hover {
/*  color: #00aaff;*/
}

/* Surveys */
a.reply-link {
   float: none;
   position: relative;
}
.response-body {
/*  border-top-color: #a8a8a8;*/
/*  border-right-color: #c8c8c8;*/
/*  border-left-color: #c8c8c8;*/
/*  background: #eee;*/
}
.response-body:after {
/*  border-top-color: #eee;*/
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background: #fff;
}
.recent-points a {
  color: #444;
  border-top: 0px solid #eee;
  border-bottom: 1px solid #eee;
}
.recent-points a:hover {
  color: #fff;
  background: #4475BA;
  border-color: #4475BA;
}


/* =List View
-------------------------------------------------------------- */

#list-container {
/*  background: #fff;*/
}

/* Search & Sort */
.list-sort-menu {
/*  color: #eee;*/
/*  text-transform: uppercase;*/
}
.list-sort-prompt {
/*  color: #999;*/
}
.list-sort-menu a {
}
.list-sort-menu a.is-selected {
/*  color: #555;*/
}

/* Place List */
.place-list > li {
/*  border-top: 1px solid #eeeeee;*/
}


/* =Geocoding
-------------------------------------------------------------- */

#geocode-address-bar {
  padding: 0;
  background-color: #00b7e8;
  border: none;
  box-shadow: none;
  margin-top: 0;
}

input.geocode-address-field {
  padding: 0.5rem;
  height: 2.5rem;
  border-width: 0;
  background-color: #00b7e8;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
  padding-left: 2.75rem;
}

.geocode-address-field:focus {
  background-color: #0035e8;
}

.geocode-address-field::placeholder,
.geocode-address-field::-webkit-input-placeholder,
.geocode-address-field::-moz-placeholder,
.geocode-address-field:-ms-input-placeholder {
  color: #bfecf9;
}

.geocode-address-label::before {
  border: 0.15rem solid #fff;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 375rem;
  top: -15%;
}
.geocode-address-label::after {
  background-color: #fff;
  width: 0.15rem;
  height: 0.5rem;
  top: 15%;
  left: 30%;
}
#geocode-address-bar .error {
  line-height: 1em;
  background-color: #F26161;
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error + form {
  box-shadow: 2px 2px 0 #F26161, 2px -2px 0 #F26161, -2px 2px 0 #F26161, -2px -2px 0 #F26161;
}
#geocode-address-bar .error.is-hidden + form {
  box-shadow: none;
}
.geocode-spinner {
  background-color: #00b7e8;
}

/* =Footer
-------------------------------------------------------------- */
#colophon {
  background-color: #FF8900;
}
#colophon p {
  font-family: "Montserrat", sans-serif;
}
#powered-by {
  color: #fff;
}

/* Powered By - Please do not change these. */
a.shareabouts-logo {
  font-family: 'Dancing Script', cursive;
  color: #a3c7d9 !important;
}
a.shareabouts-logo:hover {
  color: #fff !important;
  border-bottom: 1px solid #ccc;
}
#powered-by a.openplans-logo {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #ffb885;
}
#powered-by a.openplans-logo:hover {
  color: #fff;
  border-bottom: 1px solid #ccc;
}
.footer-logo {
  margin-top: 0.75rem;
  height: 3rem;
}

/* =Survey Form */

.survey-field-why_good_other_reason,
.survey-field-why_bad_other_reason {
  margin-top: -1.5em;
}

.total-response-indicator {
  display: none;
}

.total-response-indicator {
  font-size: 1em;
  color: black;
}
.total-response-count {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
}

.access .btn,
#sign-in-btn,
.sign-in-menu,
.auth-btn {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

.access .btn,
#sign-in-btn,
.auth-btn {
  box-shadow: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  font-style: normal;
}

.access .btn:hover,
#sign-in-btn:hover {
  color: #bfecf9;
}

p.responses-summary {
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  color: white;
  background-color: black;
  margin-bottom: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

/*.page-about h1,
p.responses-summary {
  text-transform: uppercase;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.75em;
  font-weight: bold;
  padding: 0.5em;
  margin-bottom: 0.75em;
  background-color: black;
  border-radius: 10px;
  border: 1px solid #eee;
  color: white;
  background-image: url(http://static1.squarespace.com/static/546e852de4b065a4ff814411/t/55385f7ce4b027f5e06f129d/1429757820967/bikeshare-bg.jpg?format=600w);
  background-position: 0px -75px;
  background-size: cover;
}*/

.page-about h1 {
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.welcome-decor {
  display: none;
}

.images-carousel {
  padding: 0;
  border: none;
  border-radius: 0.3em;
  background: none;
  /*box-shadow: inset 0px 2px 2px rgba(0,0,0,0.25);*/
  margin-bottom: 1em;
  position: relative;
  display: none;
}

.images-carousel .images-container {
  overflow-x: auto;
  white-space: nowrap;
  text-align: center;
  position: relative;
  left: 3%;
  width: 94%;
}

.images-carousel .images-container img {
  width: 95%;
  height: auto;
  margin-right: 1em;
  border: 1px solid #e5e5e5;
}

.images-carousel .images-container img:last-child {
  margin-right: 0;
}

.images-carousel .scroller {
  display: block;
  position: absolute;
  top: 50%;
  line-height: 2.2em;
  margin-top: -1.1em;
  padding: 0 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  background-color: rgba(226,231,31,0.85);
  transition: all 0.2s ease 0s;
}

.images-carousel .left-scroller {
  left: 0;
}

.images-carousel .right-scroller {
  right: 0;
}

.images-carousel .scroller:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(0,0,0,0.85);
}

.btn, .btn:visited, .btn:link {
  box-shadow: none;
}

/* =Leaflet Cegend Control
-------------------------------------------------------------- */

#map .leaflet-bottom.leaflet-left {
  bottom: 2rem;
}

.leaflet-control-legend-interior
{
  background-image: url(images/hamburger.png);
  width: 27px;
  height: 27px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  padding: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  cursor: auto;
  text-align: center;
  background-color: #FFFFFF;
}

.leaflet-control-legend-interior:hover
{
  background-color: #F4F4F4;
  cursor: pointer;
}

.leaflet-control-legend-popup
{
  position: absolute;
  left: 40px;
  bottom: 0;
  background-color: white;
  padding: 0.5rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
  cursor: auto;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.leaflet-control-legend-popup .legend-visualization {
  width: 2em;
  vertical-align: middle;
  margin: 0.25em 0.5em 0.25em 0;
  display: inline-block;
}

.leaflet-control-legend-popup > div {
  white-space: nowrap;
  line-height: 2.5em;
  color: black;
}

.layer-toggle-container {
  width: 2em;
  display: inline-block;
  vertical-align: middle;
}

.layer-toggle-container {
  margin: 0;
  margin-right: 0.25rem;
}

.layer-toggle-container input {
  opacity: 0;
  width: 1px;
  height: 5em;
  position: absolute;
  top: -5em;
}

.layer-toggle-container label {
  font-size: 1rem;
  padding: 0.1rem 0 0.15rem 0.20rem;
  line-height: 0.8rem;
  margin: 0;
  border-radius: 0.6rem;
  overflow: hidden;
  text-align: center;
  width: 0.8rem;
}

.layer-toggle-container input + label span {
  opacity: 0;
}

.layer-toggle-container input:checked + label {
  border-color: black;
}
.layer-toggle-container input:checked + label span {
  opacity: 1;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-height: 440px) and (max-width: 60em) {
}

@media only screen and (min-height: 568px) and (max-width: 60em) {
}

@media only screen and (min-width: 768px) and (max-width: 60em) {
}

@media only screen and (min-width: 60em) {
  #map .leaflet-bottom.leaflet-left {
    bottom: 0;
  }

  .geocoding-enabled #content,
  .geocoding-enabled #map-container {
    top: 6.75rem;  /* Header bar is 4.5rem, Geocode bar is 2.25rem */
    bottom: 6rem;
  }

  #geocode-address-bar {
    top: 4.5rem;
  }

  #site-header {
    box-shadow: none;
    /*border-bottom: 1px solid #ddd;*/
    height: 4.5rem;
    padding: 0.75rem;
  }
  #site-title {
    width: auto;
    position: relative;
    top: -2px;
  }
  #site-title-text {
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
    /*font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bold;*/
  }
  #site-logo {
    display: inline-block;
    max-height: 4rem;
  }
  #site-deadline {
    position: absolute;
    top: 2em;
    left: 100%;
    white-space: nowrap;
    margin-left: -4em;
    font-family: Merriweather;
    font-style: normal;
    color: #44cae7;
    font-size: 0.75em;
  }
  .access,
  .auth-btn,
  #sign-in-btn {
    font-size: 0.75em;
  }
  .access {
    margin-top: -1.5em;
  }
  .access li:hover > ul,
  .access li:hover > form > ul {
    background: #ccc;
    border-color: rgba(0,0,0,0.05);
  }
  nav ul {
    margin-left: 3rem;
  }
  #sign-in-btn {
    max-width: none;
    margin-top: 0.5rem;
  }
  .authed #sign-in-btn {
    margin-top: 0.5rem;
  }
  .sign-in-menu {
    background: #666;
    box-shadow: -0.25em 0.25em 3px rgba(0,0,0,0.2);
  }
  .sign-in-menu:before {
    border-bottom-color: #666;
  }

  #add-place-btn-container {
    background: transparent;
    border-bottom: 0;
  }

  .list-toggle-nav {
    float: left;
  }
  .list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    min-width: 11.5em;
    background-color: #fff;
    color: #3979D4;
  }
  .list-toggle-btn:hover {
    background-color: #fff;
    color: #444;
  }
  .show-the-map:before {
    content: '\27A4';
    margin: 0 0.375em;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 30% 60%;
        -ms-transform-origin: 30% 60%;
            transform-origin: 30% 60%;
  }
  .show-the-list:before {
    content: '\2630';
    margin: 0 0.375em;
    text-shadow: -0.25em 0 0 #fff, -0.25em -1px 0 #fff, -0.25em 1px 0 #fff, -0.375em 0 0 #3979D4;
  }
  .list-toggle-btn:hover .show-the-list:before {
    text-shadow: -0.25em 0 0 #fff, -0.25em -1px 0 #fff, -0.25em 1px 0 #fff, -0.375em 0 0 #444;
  }
  .total-response-indicator {
    font-size: 0.875em;
    position: fixed;
    bottom: 4.5rem;
    left: -1em;
    margin: 0;
    background-color: #000;
    color: #bbb;
    padding: 0.5em 1em 1em 2em;
    border-radius: 0 0.75em 0 0;
    box-shadow: 0.325em -0.325em rgba(0,0,0,0.1);
  }
  .total-response-count {
    color: #f9cc00;
    font-size: 1.5em;
  }

  #content {
    box-shadow: -0.325em 0 3px rgba(0,0,0,0.1);
  }
  a.close-btn {
    box-shadow: -0.325em 0.325em 3px rgba(0,0,0,0.1);
  }
  #colophon {
    box-shadow: 0 -2px 3px rgba(0,0,0,0.1);
    border: none;
    height: 6rem;
    padding: 0.25rem 0 0 0;
  }
  .city-logos {
    height: 4.5rem;
    background-color: #FF8900;
  }

  .welcome-decor {
    display: block;
    border-radius: 10px;
    border: 1px solid #eee;
  }

  .images-carousel .images-container img {
    height: 250px;
    width: auto;
  }
}

@media only screen and (min-width: 80em) {
}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
}
